@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /*---------header close----------*/
  /*-----------header-top------------*/
  /*-----------header-top Close------------*/
  /*-----------header-menu------------*/
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  color: #ffffff;
}
header a,
header a:hover,
header a:focus,
header a:active {
  text-decoration: none;
  outline: none;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header header {
  position: relative;
  width: 100%;
  background: white;
  z-index: 99;
}
header .header-top {
  padding: 12px 0px 15px 0px;
  background: white;
}
header .left_info ul li {
  display: inline-block;
  margin-right: 30px;
}
header .left_info a {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
header .left_info i.fa {
  font-size: 19px;
  color: black;
  padding-right: 10px;
}
header .right_info p {
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
header .left_info {
  text-align: right;
}
header .right_info i.fa {
  font-size: 26px;
  margin-right: 10px;
  position: relative;
  bottom: -4px;
}
header header i.fa.fa-mobile {
  bottom: -4px;
  font-size: 26px;
  position: relative;
  border: 40px;
  font-weight: 500;
}
header .left_info ul li:last-child {
  margin: 0px !important;
}
header .header-main {
  padding: 21px 0;
  border-top: 1px solid #424242;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px;
}
header nav#cssmenu ul {
  float: right;
  margin-top: 16px;
}
header .logo {
  position: relative;
  z-index: 123;
  padding: 10px;
  font: 18px verdana;
  color: #6ddb07;
  float: left;
}
header .logo img {
  max-width: 170px;
  background-color: black;
}
header .logo a {
  color: #6ddb07;
}
header #cssmenu,
header #cssmenu ul,
header #cssmenu ul li,
header #cssmenu ul li a,
header #cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}
header #cssmenu:after,
header #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
header #cssmenu #head-mobile {
  display: none;
}
header #cssmenu > ul > li {
  float: left;
}
header #cssmenu > ul > li > a {
  padding: 9px 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}
header #cssmenu > ul > li:hover > a,
header #cssmenu ul li.active a {
  color: #fff;
}
header #cssmenu > ul > li:hover,
header #cssmenu ul li.active:hover,
header #cssmenu ul li.active,
header #cssmenu ul li.has-sub.active:hover {
  border-radius: 0.5rem;
  background: radial-gradient(circle, rgb(67, 69, 112) 3%, rgb(35, 36, 57) 60%) !important;
  transition: background 0.3s ease;
}
header #cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
header #cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 17px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}
header #cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  transition: all 0.25s ease;
}
header #cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
header #cssmenu ul ul {
  position: absolute;
  left: -9999px;
  margin-top: 0;
}
header #cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background-color: white;
  transition: all 0.25s ease;
  color: black;
}
header #cssmenu li:hover > ul {
  left: auto;
}
header #cssmenu li:hover > ul > li {
  height: 35px;
}
header #cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
header #cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 190px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
header #cssmenu ul ul li:last-child > a,
header #cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
header #cssmenu ul ul li:hover > a,
header #cssmenu ul ul li a:hover {
  color: #fff;
}
header #cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}
header #cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  transition: all 0.25s ease;
}
header #cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
header #cssmenu ul ul li.has-sub:hover,
header #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}
header #cssmenu ul ul ul li.active a {
  border-left: 1px solid #333;
}
header #cssmenu > ul > li.has-sub > ul > li.active > a,
header #cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}
@media screen and (max-width: 300px) {
  header .logo img {
    margin-right: 3rem;
  }
}
@media screen and (max-width: 991px) {
  header .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
  }
  header .logo2 {
    display: none;
  }
  header nav {
    width: 100%;
  }
  header #cssmenu {
    width: 100%;
  }
  header #cssmenu ul {
    width: 100%;
    display: none;
  }
  header #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444;
    float: left;
    margin-top: 0.7rem;
  }
  header #cssmenu ul li:hover {
    background: radial-gradient(circle, rgb(67, 69, 112) 3%, rgb(35, 36, 57) 60%) !important;
  }
  header #cssmenu ul li:hover {
    background: transparent !important;
  }
  header #cssmenu ul ul li,
  header #cssmenu li:hover > ul > li {
    height: auto;
  }
  header #cssmenu ul li a,
  header #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  header #cssmenu ul ul li a {
    padding-left: 25px;
  }
  header #cssmenu ul ul li {
    background: #333 !important;
  }
  header #cssmenu ul ul li:hover {
    background: #363636 !important;
  }
  header #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  header #cssmenu ul ul li a {
    color: #ddd;
    background: none;
  }
  header #cssmenu ul ul li:hover > a,
  header #cssmenu ul ul li.active > a {
    color: #fff;
  }
  header #cssmenu ul ul,
  header #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  header #cssmenu > ul > li.has-sub > a:after,
  header #cssmenu > ul > li.has-sub > a:before,
  header #cssmenu ul ul > li.has-sub > a:after,
  header #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  header #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
  }
  header .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }
  header .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    content: "";
  }
  header .button:before {
    transition: all 0.3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: red;
    content: "";
  }
  header .button.menu-opened:after {
    transition: all 0.3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: red;
    transform: rotate(45deg);
  }
  header .button.menu-opened:before {
    top: 23px;
    background: red;
    width: 19px;
    transform: rotate(-45deg);
  }
  header #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  header #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  header #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  header #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
  }
  header #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  header #cssmenu .submenu-button.submenu-opened:after {
    background: #fff;
  }
  header #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
  }
  header #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  header #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
  header #cssmenu ul ul ul li.active a {
    border-left: none;
  }
  header #cssmenu > ul > li.has-sub > ul > li.active > a,
  header #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
}
header img {
  width: 100%;
}
header div#slider-home .carousel-item::before {
  background: rgba(0, 0, 0, 0.3607843137);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
header #slider-home h3 {
  text-transform: capitalize;
  font-size: 50px;
}
header #slider-home p {
  font-size: 23px;
}
header #slider-home .btn {
  background: #f82249;
  color: #fff;
  padding: 12px 30px !important;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
header #slider-home .btn:hover {
  background: #ffffff;
  color: #f82249;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
  mix-blend-mode: multiply !important; /* Specify the blend mode */
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.footer-section {
  background: rgb(67, 69, 112);
  background: radial-gradient(circle, rgb(67, 69, 112) 3%, rgb(35, 36, 57) 60%);
  position: relative;
}

.home {
  display: flex;
  justify-content: center;
  gap: 50px;
  background: rgb(67, 69, 112);
  background: radial-gradient(circle, rgb(67, 69, 112) 3%, rgb(35, 36, 57) 60%);
  padding: 130px 80px;
}
.home .description {
  color: #fff;
}
.home img {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home .description > h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: 5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}
.home .gradient-text {
  font-size: 5rem;
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(90deg, rgb(118, 167, 63) 0%, rgb(51, 143, 118) 40%, rgb(55, 141, 167) 50%, rgb(117, 152, 242) 70%, rgb(144, 118, 236) 100%);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}
.home .description > p {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-right: 5rem;
}
.home #form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home input {
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  background-color: transparent;
  outline: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.home input::-moz-placeholder {
  color: rgb(117, 152, 242);
  opacity: 0.5;
  font-weight: 500;
}
.home input::placeholder {
  color: rgb(117, 152, 242);
  opacity: 0.5;
  font-weight: 500;
}
.home input[type=email] {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1rem;
}
.home input[type=email]:focus {
  border: transparent;
  outline: 2px dotted rgb(117, 152, 242);
  outline-offset: -3px;
}
.home .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: -moz-max-content;
  max-width: max-content;
  background: linear-gradient(90deg, rgb(118, 167, 63) 0%, rgb(51, 143, 118) 40%, rgb(55, 141, 167) 50%, rgb(117, 152, 242) 70%, rgb(144, 118, 236) 100%);
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.home .btn:is(:hover, :focus-visible) {
  background-position: right;
}
.home .users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.home .item {
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}
.home .item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}
.home .item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}
.home .item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}
.home .item:nth-child(4) {
  border-radius: 0 0 0 50%;
}
.home .item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}
.home .item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}
.home .item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}
.home .item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}
.home .item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}
.home .item:nth-child(10) {
  border-radius: 50%;
}
.home .item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}
.home .item:nth-child(12) {
  border-radius: 50% 0 0 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (min-width: 992px) and (max-width: 1170px) {
  .home .gradient-text {
    font-size: 4rem;
  }
  .home .description > h1 {
    font-size: 4rem;
  }
}
@media (max-width: 992px) {
  .home #form {
    justify-content: center;
  }
  .home .description {
    text-align: center;
    margin-top: 4rem;
  }
  .home .description .paragraph {
    margin-right: 0;
  }
}
@media (max-width: 590px) {
  .home .gradient-text {
    font-size: 4rem;
  }
  .home .description h1 {
    font-size: 4rem;
  }
}
@media (max-width: 482px) {
  .home .gradient-text {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .home {
    padding: 70px 70px;
  }
  header .left_info {
    text-align: left !important;
  }
  header .left_info ul li {
    margin-top: 0.7rem;
  }
  header .left_info ul li:last-child {
    margin-top: 0.7rem !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 576px) {
  .home {
    padding: 50px 0px;
  }
  .home .btn {
    padding: 5px;
  }
  .home .description h1 {
    font-size: 2rem;
  }
  header .left_info {
    text-align: left !important;
  }
  header .left_info ul li {
    margin-top: 0.7rem;
  }
  header .left_info ul li:last-child {
    margin-top: 0.7rem !important;
  }
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
  background: rgb(67, 69, 112);
  background: radial-gradient(circle, rgb(67, 69, 112) 3%, rgb(35, 36, 57) 60%);
  overflow: hidden;
  padding: 90px 50px;
}
.card-container .courses h1 {
  color: white;
  font-size: 4rem;
  font-family: "Tilt Neon", sans-serif;
}
.card-container .card {
  max-width: 300px;
  border-radius: 15px;
  margin: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.205);
  background: rgb(218, 124, 240);
  background: linear-gradient(23deg, rgb(218, 124, 240) 25%, rgb(247, 105, 219) 42%, rgb(237, 181, 59) 91%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: grab;
}
.card-container img {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.card-container .content {
  position: relative;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.card-container .content::before,
.card-container .content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: conic-gradient(from var(--gradient-angle), rgb(109, 186, 22), rgb(30, 119, 95), rgb(55, 141, 167), rgb(59, 91, 174), rgb(144, 118, 236), rgb(59, 91, 174), rgb(55, 141, 167), rgb(30, 119, 95), rgb(109, 186, 22));
  animation: rotation 8s linear infinite;
}
.card-container .content::after {
  filter: blur(30px);
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.card-container .content img {
  aspect-ratio: 3/2;
  border-radius: 10px;
  grid-row: 1/5;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.card-container .content h1 {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
}
.card-container .content p {
  color: rgba(0, 0, 0, 0.611);
  margin: auto 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.card-container .btn_main {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0px 10px;
}
.card-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: -moz-max-content;
  max-width: max-content;
  background: linear-gradient(90deg, rgb(118, 167, 63) 0%, rgb(51, 143, 118) 40%, rgb(55, 141, 167) 50%, rgb(117, 152, 242) 70%, rgb(144, 118, 236) 100%);
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.card-container .btn:is(:hover, :focus-visible) {
  background-position: right;
}
.card-container .control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 14px;
}
.card-container .control li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #559b9a, #3b3d8a);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
}
.card-container .control li::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #559b9a, #3b3d8a);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.card-container .control li:hover::before {
  opacity: 1;
}
.card-container .arrow {
  font-size: 1.5rem;
  color: #fff;
}
@media (max-width: 1215px) {
  .card-container .description > p {
    font-size: 1rem;
  }
  .card-container .btn {
    font-size: 1rem;
  }
}
@media (max-width: 1015px) {
  .card-container .home {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }
  .card-container .description > p {
    font-size: 1rem;
  }
  .card-container .btn {
    padding: 8px 12px;
  }
  .card-container .btn-grad {
    padding: 8px 12px;
  }
}
@media (max-width: 865px) {
  .card-container .home {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }
}
@media (max-width: 815px) {
  .card-container .home {
    grid-template-columns: 1fr;
    grid-template-areas: "userscolorcontainer" "description";
    gap: 30px;
  }
  .card-container .users-color-container {
    grid-area: userscolorcontainer;
  }
  .card-container .description {
    grid-area: description;
    padding: 0;
    text-align: center;
  }
  .card-container .description > p {
    font-size: 1.1rem;
  }
  .card-container #form {
    justify-content: center;
  }
}
@media (min-width: 200px) and (max-width: 300px) {
  .card-container .gradient-text {
    font-size: 2rem;
  }
  .card-container .description h1 {
    font-size: 2rem;
  }
}
@media (max-width: 200px) {
  .card-container .description {
    font-size: 16px;
  }
  .card-container .description p {
    margin: 1rem;
  }
  .card-container .description .title {
    font-size: 16px;
    margin: 1rem;
  }
  .card-container .description .gradient-text {
    font-size: 20px;
  }
}
@media (max-width: 815px) {
  .card-container .description > p {
    font-size: 1rem;
  }
  .card-container .users-color-container {
    margin: 1rem 0rem 1rem 0rem;
  }
}
@media (max-width: 229px) {
  .card-container .users-color-container {
    margin: 1rem;
  }
}
@media (max-width: 460px) {
  .card-container .home {
    gap: 0;
    padding: 2rem;
  }
  .card-container .card-container .courses h1 {
    font-size: 3rem;
  }
  .card-container #form {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
  .card-container input[type=email]:focus {
    outline-offset: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .card-container {
    padding: 0;
  }
  .card-container .slider .container {
    padding: 0px;
    margin: 0px;
  }
  .card-container .card {
    margin: 1rem;
  }
  .card-container .content {
    padding: 13px;
  }
  .card-container .content h1 {
    font-size: 35px;
  }
  .card-container .content p {
    margin: 0;
    color: black;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .gradient-text {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 325px) and (max-width: 525px) {
  .card-container .card {
    margin: 3rem;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .card-container .content {
    padding: 20px 11px;
  }
  .card-container .content h1 {
    font-size: 1.8rem;
  }
  .card-container .content p {
    margin: 0;
  }
  .card-container .card {
    margin: 2rem 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card-container .content h1 {
    font-size: 1.8rem;
  }
  .card-container .content p {
    margin: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .card-container .content p {
    margin: 0;
  }
}
.section-team {
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
}
.section-team .header-section {
  margin-bottom: 50px;
}
.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
  transition: margin-bottom 0.3s;
}
.section-team .header-section .title {
  font-weight: 700;
  font-size: 50px;
  transition: font-size 0.3s, font-weight 0.3s;
}
.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #f6f9ff;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.section-team .single-person:hover {
  background: rgb(247, 105, 219);
  background: radial-gradient(circle, rgb(247, 105, 219) 0%, rgb(0, 0, 0) 73%);
}
.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s, border 0.3s;
}
.section-team .single-person .person-image:hover {
  padding: 12px;
  border: 4px dashed #fff;
}
.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}
.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: rgb(247, 105, 219);
  background: radial-gradient(circle, rgb(247, 105, 219) 0%, rgb(0, 0, 0) 73%);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  transition: background 0.3s, color 0.3s;
}
.section-team .single-person .person-image .icon:hover {
  background: none;
  background-color: #fff;
  color: #016cec;
}
.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  transition: margin-bottom 0.3s, font-size 0.3s, font-weight 0.3s;
}
.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #016cec;
  transition: color 0.3s;
}
.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

.we-offer-area {
  padding: 60px 0;
  min-height: 100vh;
}
.we-offer-area a,
.we-offer-area a:hover,
.we-offer-area a:focus,
.we-offer-area a:active {
  text-decoration: none;
  outline: none;
}
.we-offer-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.we-offer-area .bg-gray {
  background-color: #f9f9f9;
}
.we-offer-area .site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.we-offer-area .site-heading h2 span {
  color: #00a01d;
}
.we-offer-area .site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.we-offer-area .site-heading h4::before {
  background: #00a01d none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.we-offer-area .site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}
.we-offer-area .carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}
.we-offer-area .our-offer-carousel .owl-dots .owl-dot:active span {
  background: #00a01d none repeat scroll 0 0;
  border-color: #00a01d;
}
.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}
.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #00a01d;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: #00a01d none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #00a01d;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #00a01d none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}

.we-offer-area .item i {
  color: #00a01d;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.we-offer-area .item p {
  margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: #00a01d none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #00a01d !important;
}

.we-offer-area.text-left .item i {
  background: #00a01d none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #00a01d;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}

.wrraper-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f5f5f5;
}
.wrraper-main .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.wrraper-main .card {
  position: relative;
  width: 325px;
  height: 450px;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrraper-main .poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrraper-main .poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}
.wrraper-main .card:hover .poster::before {
  bottom: 0;
}
.wrraper-main .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.wrraper-main .card:hover .poster img {
  transform: scale(1.1);
}
.wrraper-main .details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  background: rgba(0, 0, 0, 0.6666666667);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
          backdrop-filter: blur(16px) saturate(120%);
  transition: 0.3s;
  color: #fff;
  z-index: 2;
}
.wrraper-main .card:hover .details {
  bottom: 0;
}
.wrraper-main .details h1,
.wrraper-main .details h2 {
  font-weight: 700;
}
.wrraper-main .details h1 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.wrraper-main .details h2 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
  opacity: 0.6;
}
.wrraper-main .details .rating {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  gap: 0.25em;
}
.wrraper-main .details .rating i {
  color: #e3c414;
}
.wrraper-main .details .rating span {
  margin-left: 0.25em;
}
.wrraper-main .details .tags {
  display: flex;
  gap: 0.375em;
  margin-bottom: 0.875em;
  font-size: 0.85em;
}
.wrraper-main .details .tags span {
  padding: 0.35rem 0.65rem;
  color: #fff;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  border-radius: 50px;
}
.wrraper-main .details .desc {
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 1em;
}
.wrraper-main .details .cast h3 {
  margin-bottom: 0.5em;
}
.wrraper-main .details .cast ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: 100%;
}
.wrraper-main .details .cast ul li {
  list-style: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid #fff;
}
.wrraper-main .details .cast ul li img {
  width: 100%;
  height: 100%;
}

.writing-animation {
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  background-color: #191a1e;
  color: white;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writing-animation #slider {
  width: 600px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.writing-animation #sliderValue {
  display: flex;
  color: #0077ee;
  font-weight: 700;
}
.writing-animation .start {
  opacity: 0;
}
.writing-animation .animation {
  animation: fade 0.3s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
}

.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.73);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card .slider-card img {
  border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 0.7;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 0.7;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}/*# sourceMappingURL=main.css.map */